.navbar {
    width: 100%;
    background-color: lightblue;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
}

.navbar > h1 {
    padding-left: 20px;
}

.header-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}